@import url('https://fonts.googleapis.com/css?family=Cinzel');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  height: 95vh;
  width: 100%;
} */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

nav {
  height: 40px;
  background: black;
  width: 100%;
  display: block;
}

.nav-logo {
  color: white;
  font-size: 2rem;
  margin-left: 2rem;
  color: goldenrod;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.nav-list-item {
  margin-right: 1.5rem;
  list-style: none;
  padding: 0.4rem;
  margin-bottom: 0.3rem;
}

.nav-list-item a {
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: white;
}

.nav-list-item:hover {
  border-bottom: 2px solid goldenrod;
  border-top: 1px solid goldenrod;
}

footer span {
  color: white;
  font-size: 1.5rem;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

section {
  margin-top: 75px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  width: 100%;
}

button {
  margin-top: 20px;
  outline: none;
  height: 40px;
  text-align: center;
  width: 150px;
  border-radius: 10px;
  background: #fff;
  border: 2px solid white;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 1.2rem;
  cursor: pointer;
  background: goldenrod;
}

.add-button:hover {
  color: goldenrod;
  background: white;
}
