@import url('https://fonts.googleapis.com/css?family=Cinzel');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}
#account {
  text-align: center;
  justify-content: center;
}

.main-display {
  font-size: 4rem;
  font-family: Cinzel;
  z-index: 900;
  margin: auto;
  color: white;
  letter-spacing: 5px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  padding-top: 30%;
  max-width: 500px;
}

.collection-link {
  margin-top: 50px;
  padding: 15px;
  color: whitesmoke;
  font-family: 'latoregular', arial;
  font-size: 1.2rem;
  display: inline-block;
  border: 4px double goldenrod;
  text-decoration: none;
  cursor: pointer;
}

.collection-link-text {
  text-decoration: none;
  color: whitesmoke;
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

.collection-link:hover {
  background: goldenrod;
  color: black;
}

.gold {
  color: goldenrod;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container #main {
  height: 100%;
  background: black;
  min-height: 90vh;
  text-align: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.wrapper {
  background: black;
  min-height: 90vh;
  border: 2px goldenrod solid;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

nav {
  background: transparent;
  width: 100%;
  display: block;
}

.nav-logo {
  font-size: 2rem;
  margin-left: 2rem;
  color: goldenrod;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: goldenrod 1.5px solid;
}

.nav-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.nav-list-item {
  margin-right: 1.5rem;
  list-style: none;
  padding: 0.4rem;
}

.nav-list-item a {
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: white;
}

.nav-list-item:hover {
  border-bottom: 1px solid goldenrod;
  border-top: 1px solid goldenrod;
}

#toggle {
  display: none;
}

label {
  margin: 0 40px 0 0;
  font-size: 1.5rem;
  line-height: 4rem;
  display: none;
}

footer span {
  color: white;
  font-size: 1.5rem;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  letter-spacing: 0.1rem;
}

footer .sign {
  font-size: 1.3rem;
}

section {
  margin-top: 75px;
  margin-bottom: 20px;
}

footer {
  clear: both;
  position: relative;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
}

button {
  margin-top: 10px;
  outline: none;
  height: 2rem;
  text-align: center;
  width: 4.5rem;
  background: white;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.button-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

.add-button:hover {
  color: goldenrod;
  background: white;
}

.collection-items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

@media (min-width: 501px) and (max-width: 766px) {
  .items-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .user-items-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .panel .back {
    line-height: 0rem;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
}

@media (max-width: 575px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  .main-display {
    font-size: 3rem;
  }
  .nav-logo {
    color: white;
    font-size: 2rem;
    color: goldenrod;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  .card-icon {
    :hover {
      font-size: 2rem;
    }
  }
  .navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    display: none;
  }
  .nav-list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-list-item {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    list-style: none;
    padding: 0.4rem;
    line-height: 5rem;
  }
  .nav-items {
    padding: 0;
    margin: 0;
  }
  label {
    display: block;
    cursor: pointer;
    text-align: right;
    width: 20px;
    justify-content: left;
    margin-left: auto;
  }
  #toggle:checked {
    + .navbar {
      display: block;
    }
    // :not(:checked)
  }
}

.login {
  text-align: center;
}

.login-flex {
  margin-top: 30%;
  display: inline-flex;
  flex-direction: column;
}

// Input fields css
.input {
  // needs to be relative so the :focus span is positioned correctly
  position: relative;
  margin-top: 10px;
  // bigger font size for demo purposes
  font-size: 2rem;
  // the border gradient
  background: linear-gradient(21deg, goldenrod, gold);

  // the width of the input border
  padding: 1.5px;
  padding-bottom: 0px;

  margin-bottom: 5px;
  height: 40px;

  // we want inline fields by default
  display: inline-block;

  // we want rounded corners no matter the size of the field

  // style of the actual input field
  *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 0.325em;
    z-index: 1; // needs to be above the :focus span

    // summon fancy shadow styles when focussed
    &:focus + span {
      opacity: 1;
      transform: scale(1);
    }
  }

  // we don't animate box-shadow directly as that can't be done on the GPU, only animate opacity and transform for high performance animations.
  span {
    transform: scale(0.993, 0.94); // scale it down just a little bit
    transition: transform 0.5s, opacity 0.25s;
    opacity: 0; // is hidden by default

    position: absolute;
    z-index: 0; // needs to be below the field (would block input otherwise)
    margin: 4px; // a bit bigger than .input padding, this prevents background color pixels shining through
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none; // this allows the user to click through this element, as the shadow is rather wide it might overlap with other fields and we don't want to block those.

    // fancy shadow styles
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,
      -3px 3px 30px goldenrod;
  }
}

input {
  font-family: inherit;
  line-height: inherit;
  color: white;
  min-width: 30em;
  height: 95%;
  background: black;
  font-size: 1.2rem;
}

::placeholder {
  color: white;
}

@media (min-width: 301px) and (max-width: 766px) {
  input {
    min-width: 0;
    max-width: 10em;
  }
  .login-flex {
    margin-top: 10%;
    display: inline-flex;
    flex-direction: column;
  }
}
