.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.75rem;
  grid-auto-rows: minmax(100px, auto);
}

.item-wrap {
  max-width: 325px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(
    to right,
    #ffc65d 7%,
    rgba(237, 105, 105, 0.8) 30%,
    rgb(224, 77, 224) 62%,
    #f7b5b5
  );
  padding: 1px;
}
.item {
  padding: 10px;
  max-width: 320px;
  height: 200px;
  margin: 1px;
  background: white;
  grid-row: span 1;
  grid-column: span 1;
}

.item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item .item-img {
  width: 125px;
  height: 160px;
  border-radius: 20px;
}

.item .item-info {
  display: grid;
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.item-category {
  display: inline-block;
  font-size: 0.9rem;
}

.cart {
  width: 100%;
  display: block;
  height: 200px;
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
}

.basket {
  text-align: center;
}

.basket-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
}

.basket-item {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.basket-item button {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.select-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 10px;
  &-item {
    margin-left: 10px;
  }
}

option {
  font-size: 2rem;
}

.add-button {
  background: transparent;
  border: solid 1px #f9ce19;
  width: 6rem;
  height: 2rem;
  &:hover {
    background: goldenrod;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 766px) {
  .items-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .item {
    padding: 10px;
    max-width: 320px;
    height: 193px;
    background: white;
    margin: 1px;
    grid-row: span 1;
    grid-column: span 1;
  }

  .item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .item .item-img {
    width: 125px;
    height: 160px;
    border-radius: 20px;
  }

  .item .item-info {
    display: grid;
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 767px) and (max-width: 991px) {
  .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .item {
    padding: 10px;
    max-width: 320px;
    height: 193px;
    background: white;
    margin: 1px;
    grid-row: span 1;
    grid-column: span 1;
  }

  .item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .item .item-img {
    width: 125px;
    height: 160px;
    border-radius: 20px;
  }

  .item .item-info {
    display: grid;
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

.panel .pad {
  padding: 0 15px;
}
.panel.flip .action {
  display: none;
}

.panel {
  width: inherit;
  height: inherit;
  margin: 1px;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  text-align: center;
}
.panel .front {
  z-index: 900;
  background: #fff;

  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;

  -o-transform: rotateX(0deg) rotateY(0deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;

  -ms-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;

  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.panel.flip .front {
  z-index: 900;
  background: #fff;

  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.panel .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  background: #fff;
  border: 1px solid #000;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;

  -o-transform: rotateY(-180deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;

  -ms-transform: rotateY(-180deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;

  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.panel.flip .back {
  z-index: 1000;
  background: peachpuff;
  height: 100%;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}

.frontTitle {
  padding-top: 5px;
  text-align: center;
  font-family: 'latoregular', arial;
  font-size: 18px;
  color: #000;
  height: 45px;
}

.frontLogo {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
}

.boisedigital {
  background-size: 85% auto;
  background-position: center center;
}

.dissolve {
  background-size: 125px 125px;
}

.frontLocation {
  padding-top: 10px;
  text-align: center;
  color: #aaa;
  font-family: 'latoregular', arial;
  font-size: 18px;
}

.backTitle {
  padding: 10px;
  color: #000;
  font-family: 'latohairline', arial;
  font-size: 16px;
  font-weight: bold;
}

.backParagraph {
  padding: 10px;
  padding-top: 0;
  color: #000;
  font-family: 'latoregular', arial;
  font-size: 14px;
}

.backGoto {
  padding: 10px;
  padding-top: 0;
  color: #06f;
  font-family: 'latoregular', arial;
  font-size: 14px;
}

.backGoto a {
  text-decoration: none;
  color: #06f;
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

.backGoto a:hover {
  text-decoration: underline;
  padding-left: 15px;
}
